.indent {
    padding: 140px 400px;
    @media @notebook {
        padding: 50px 100px;
    }
    @media @mobile {
        padding: 30px 15px;
    }
}

.bottom-line(@color) {
    position: absolute;
        bottom: -30px;
        left: 0;
        width: 70px;
        border-top: 2px solid @color;
        content:"";
        @media @mobile {
            display: none;
        }
}