/*----------------------*/
/***** Главное меню *****/
/*----------------------*/
.topmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    @media @notebook {
        height: 120px;
    }
    @media @mobile {
        
    }
}

.topmenu__logo {
    height: 95px;
    width: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topmenu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 800px;
    @media @mobile {
        position: absolute;
		width: 50%;
		height: 568px;
		background-color: rgb(0, 0, 0);
		margin: 0;
        top: 0;
        left: 0;
		z-index: 9999;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		transform: translateX(-100%);
    }
}

.topmenu__item {
    &:after {
		text-decoration: none;
		content: '';
		width: 100%;
		height: 3px;
		background-color: white;
		display: block;
		box-shadow: 0 0 10px white;
        transform: scale(0);
        @media @mobile {
            display: none;
        }
    }
    &:hover:after {
        transform: scale(1);
        transition: 0.4s;
    }
    @media @mobile {
        background: rgba(256, 256, 256, 0.6);
        margin: 5px 0;
        width: 100%;
        height: 45px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.topmenu__link {
    display: block;
    padding: 10px;
    color: #0D181B;
    text-decoration: none !important;
    font-size: 1.5rem;
    &:hover {
        color: white;
    }
    @media @notebook {
        font-size: 1.25rem;
    }
    @media @mobile {
        color: black;
        font-size: 1.125rem;
        text-transform: uppercase;
    }
}

.topmenu__button {
    display: none;
    height: 50px;
    @media  @mobile {
        display: block;
    }
}

/*----------------*/
/***** Слоган *****/
/*----------------*/
.tagline {
    float: right;
    margin-top: 450px;
    color: white;
    text-align: right;
    @media @notebook {
        margin-top: 170px;
    }
    @media @mobile {
        margin-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.tagline__title {
    font: 3.75rem 'Open+SansBold';
    text-shadow: 1px 1px 2px black;
    @media @notebook {
        font-size: 3rem;
    }
    @media @mobile {
        font-size: 1.875rem;
    }
}

.tagline__text {
    margin-top: 30px;
    font-size: 1.875rem;
    text-shadow: 1px 1px 2px black;
    @media @notebook {
        font-size: 1.5rem;
    }
    @media @mobile {
        font-size: 1rem;
        text-align: center;
    }
}

.tagline__link {
    margin-top: 45px;
    width: 250px;
    height: 55px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none !important;
    color: white;
    background: transparent;
    border: 3px solid white;
    cursor: pointer;
    &:hover {
        color: black;
        background: white;
    }
    &_header {
        float: right;
        @media @mobile {
            text-shadow: 1px 1px 2px black;
        }
    }
    &_white {
        color: black;
        border: 3px solid black;
        &:hover {
            color: white;
            background: black;
        }
    }
    @media @notebook {
        width: 200px;
        height: 40px;
        font-size: 1.25rem;
        padding: 6px 18px;
        border: 2px solid white;
        &_white {
            border: 2px solid black;
        }
    }
    @media @mobile {
        margin-top: 20px;
    }
}

/*------------------*/
/***** Описание *****/
/*------------------*/
.story {
    color: white;
    background: @dark;
    height: auto;
    .indent();
    &_white {
        background: white;
        color: black;
    }
    &_services {
        margin-top: 120px;
        padding-top: 20px;
        @media @mobile {
            margin-top: 0;
            padding-top: 30px;
        }
    }
    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -1px;
    }
}

.story__title {
    font-size: 3.75rem;
    position: relative;
    &:before{
        .bottom-line(white);
    }
    &_black-line:before {
        .bottom-line(black);
    }
    &_employment {
        margin-top: 250px;
        @media @notebook {
            margin-top: 140px;
        }
        @media @mobile {
            display: none;
        }
    }
    @media @notebook {
        font-size: 3rem;
    }
    @media @mobile {
        font-size: 1.875rem;
        text-align: center;
        line-height: 2rem;
        margin-bottom: 20px;
    }
}

.story__subtitle {
    margin: 60px 0 60px 0;
    font-size: 1.875rem;
    line-height: 2.875rem;
    text-transform: uppercase;
    &_right {
        text-align: right;
    }
    @media @notebook {
        margin: 40px 0 40px 0;
        font-size: 1.5rem;
    }
    @media @mobile {
        margin: 20px 0 20px 0;
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: center;
    }
}

.story__text {
    font-size: 1.25rem;
    line-height: 2.875rem;
    &_slogan {
        margin-top: 70px;
        text-transform: uppercase;
        @media @notebook {
            margin-top: 50px;
        }
    }
    &_right {
        text-align: right;
    }
    &_develop {
        line-height: 1.5rem;
    }
    @media @notebook {
        font-size: 1rem;
    }
    @media @mobile {
        font-size: 1rem;
        line-height: 2rem;
        text-align: justify;
    } 
}

.story__email {
    color: black;
    font-size: 1.875rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 50px;
    display: block;
    &:hover {
        color: black;
    }
    @media @notebook {
        font-size: 1.5rem;
        margin-top: 30px;
    }
    @media @mobile {
        font-size: 1.25rem;
        margin-top: 20px;
    }
}

.story__list {
    margin: 0  0 80px 35px;
    @media @notebook {
        margin: 0  0 50px 35px;
    }
}

.story__item {
    margin-top: 35px;
    font-size: 1.25rem;
    list-style-type: disc;
}

/*----------------*/
/***** Услуги *****/
/*----------------*/
.posterbox {
    .indent();
    padding-bottom: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media @mobile {
        display: none;
    }
}

.posterbox__title {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    &_container-ship {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    @media @mobile {
        margin-bottom: 30px;
    }
}

/*-------------------------*/
/***** Трудоустройство *****/
/*-------------------------*/
.employment-box {
    .indent();
    padding-top: 150px;
    padding-bottom: 190px;
    background: @dark;
    color: white;
    &_second {
        margin-top: 340px;   
        @media @notebook {
            margin-top: 240px;
        }
    }
}

.employment-box__employment {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media @mobile {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
    }
}

/*------------------*/
/***** Контакты *****/
/*------------------*/
.contact {
    .indent();
}

.contact__box {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-column-gap: 200px;
    @media @notebook {
        grid-column-gap: 250px;
    }
    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contact__info {
    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.contact__resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 20px auto 0;
    @media @mobile {
        width: 100%;
    }
}

/*----------------*/
/***** Footer *****/
/*----------------*/
.footer-menu {
    @media @mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &_navigation {
        @media @mobile {
            display: none;
        }
    }

}

.footer-menu__item {
    &_center {
        text-align: center;
    }
}

.footer-menu__link {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
    padding: 15px 5px;
    &:hover {
        color: yellow;
        text-decoration: none;
    }
    @media @notebook {
        font-size: 1rem;
    }
}

.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infobox__ultramarin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.infobox__company-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    text-align: right;
}

.infobox__develop {
    margin-top: 30px;
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infobox__emblem {
    height: 70px;
    width: auto;
}

.copyright {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 70px;
}

.footer-top {
    display: none;
    background: transparent;
    border: none;
    width: 280px;
    height: 40px;
    background: url('../images/top.png') no-repeat;
    background-size: contain;
    position: relative;
    top: -31px;
    font: 1.25rem 'Open+SansBold';
    color: black;
    text-align: center;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    @media @mobile {
        display: block;
    }
}

/*------------------------*/
/***** Модальное окно *****/
/*------------------------*/
.modalbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.modalbox__content {
    background: white;
    width: 300px;
    min-height: 820px;
    display: block;
    padding: 20px;
    position: relative;
   @media @notebook {
       margin: 290px auto 20px;
   }
}

.modalbox__private {
    font-size: 0.85rem;
}

.modalbox__close {
    width: 110px;
    height: 40px;
    display: block;
    margin: 0 !important;
    font-size: 1.25rem;
    background: red;
    width: 250px;
    height: 40px;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}


/*---------------------------*/
/***** Обязательное поле *****/
/*---------------------------*/
.requiredField {
    color: red;
}