/*----------------------*/
/***** Главное меню *****/
/*----------------------*/
.menu-active {
	transform: translateX(0) !important;
}

/*------------------------*/
/***** Модальные окна *****/
/*------------------------*/
.modal-active {
    display: flex;
}

.footerbox__private_red {
    color: red;
    &:hover {
        color: red;
        text-decoration: underline;
    }
}

#wpforms-form-14 {
    width: 280px;
    margin: 0
}